/*=============== FONTS ===============*/

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

@font-face {
    font-family: 'vtf_misterpixeltools';
    src: url('../fonts/mister_pixel_tools-webfont.eot');
    src: url('../fonts/mister_pixel_tools-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mister_pixel_tools-webfont.woff2') format('woff2'),
         url('../fonts/mister_pixel_tools-webfont.woff') format('woff'),
         url('../fonts/mister_pixel_tools-webfont.ttf') format('truetype'),
         url('../fonts/mister_pixel_tools-webfont.svg#vtf_misterpixeltools') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vtf_misterpixelregular';
    src: url('../fonts/mister_pixel_regular-webfont.eot');
    src: url('../fonts/mister_pixel_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mister_pixel_regular-webfont.woff2') format('woff2'),
         url('../fonts/mister_pixel_regular-webfont.woff') format('woff'),
         url('../fonts/mister_pixel_regular-webfont.ttf') format('truetype'),
         url('../fonts/mister_pixel_regular-webfont.svg#vtf_misterpixelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* { margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
    font-family: 'Source Code Pro', monospace;
    background: #000;
    text-align: center;
	height: 100%;
    background-color: #000; 
}

/*=============== NAVIGATION ===============*/
.hamburger {
font-size: 24px;
cursor: pointer;
position:fixed;
color: #fff;
background-color: transparent;
left:0; 
top:0; 
padding: 10px;
margin:15px;
border: none;
transition: all .3s;
z-index: 10;
}

.hamburger:hover {
  background-color: #213364;
    opacity: 1;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.6s;
    padding: 60px 0px 0px 0px;
    text-align: center;
    outline: 1px solid #fff;
    outline-offset: -1px;
    opacity: .95;
    display:flex;
    flex-direction: column;
    top:0;
}

.sidenav a {
/*    padding: 20px 8px 30px 10px;*/
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
/*    align-self: center;*/
    flex-grow:1;
/*    border:1px solid red;*/
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidenav a:hover {
    color: #fff;
    font-size:24px;
}

.sidenav a p {
    font-family: 'Source Code Pro', monospace;
    opacity: 0;
    transition: 0.3s all;
    font-size:14px;
}

.sidenav a:hover p {
    opacity: 1;
    color: #ac4557;
    font-size:16px;
}

.sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    margin-left: 50px;
}

.sidenav .closebtn:hover {
    color: #ac4557;
    font-size: 40px;
}
/*=============== POPUP ===============*/
.popup {
    position: absolute;
    opacity: 0;
    z-index:100;
}

.popup img {
    width: 70%;
    z-index:100;
}

/*=============== FIND ===============*/

#clickIntro {
    width:auto;
    height: auto;
    position: absolute;
    margin: 100px auto;
    left: 50%;
    transform: translate(-50%);
    z-index:0;
}

#clickIntro h1 {
    font-size: 6vmax;
    color: #fff;
    font-family:'vtf_misterpixelregular';
    text-shadow: 0 0 3px white;
    color: transparent;
}

#buttonBarrier{
background-image: url(../images/brick.png);
height: 100vh;
width: 100%;
padding: 40px;
}

#clickButton {
  font-family: 'Source Code Pro', monospace;
  display: inline-block;
  text-decoration: none;
  border: 0;
  background: #213364;
  color: #fff;
  font-size: 2vmax;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
    opacity: 0;
    z-index: 99;
/* transition: all , 1s;*/
}

#clickButton:hover{
    opacity:1;
}

/*=============== MOBILE ===============*/

@media screen and (max-width: 55em) {
   .hamburger:active {
background-color: #ac4557;
opacity: 1;
}

.sidenav a:active {
color: #fff;
font-size:24px;
z-index: 100;
}
   
.sidenav a p {
    opacity: 1;
    color: #ac4557;
    font-size:16px;
}
    
.sidenav .closebtn {
    color: #ac4557;
    font-size: 40px;
} 

#clickButton {
opacity: 1;
}
}